<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="藏韻好物ConnectionString" connectionString="Data Source=.;Initial Catalog=藏韻好物;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="about.html" />
                <add value="about-how.html" />
                <add value="about-where.html" />
                <add value="blog.html" />
                <add value="contact.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="index.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
